[Desktop Entry]
Version=1.0
Type=Application
Name=
Icon=
Exec=
Comment=IDE for Python
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-pycharm-ce
StartupNotify=true
Keywords=